.top-nav {
	display: flex;
	gap: 1rem;
	font-weight: 600;
	margin-block-end: 0.5rem;
	.logo {
		margin-inline-end: auto;
	}
	a {
		color: #fff;
		text-decoration: none;
		&:visited {
			color: inherit;
		}
		&:hover,
		&:focus {
			color: #4fc3f7;
		}
	}
}
