.color-image-grid {
	display: grid-lanes;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	gap: 0.5rem;
	padding: 0.5rem;
}
.color-image {
	all: unset;
	box-sizing: border-box;
	background: var(--color-accent);

	img {
		opacity: 0.9;
	}
}
